<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.ProductSpecMapper">
    <resultMap id="productSpecMap" type="com.atguigu.spzx.model.entity.product.ProductSpec" autoMapping="true"></resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,spec_name,spec_value,create_time,update_time,is_deleted
    </sql>
    <insert id="save">
        insert into product_spec (
        id,
        spec_name,
        spec_value,
        create_time,
        update_time,
        is_deleted
        ) values (
        #{id},
        #{specName},
        #{specValue},
        now(),
        now(),
        0
        )
    </insert>
    <update id="update">
        update product_spec
        set
        spec_value = #{specValue},
        update_time = now(),
        spec_name = #{specName}
        where id=#{id}
    </update>
    <delete id="delete">
        delete from product_spec where id =#{id}
    </delete>

    <select id="findByPage" resultMap="productSpecMap">
        select <include refid="columns" />
        from product_spec
        where is_deleted = 0
        order by id desc
    </select>
    <select id="getById" resultMap="productSpecMap">
        select <include refid="columns" />
        from product_spec
        where is_deleted = 0 and id=#{id}

    </select>
    <select id="findAll" resultMap="productSpecMap">
        select <include refid="columns" />
        from product_spec
        order by id desc
    </select>
</mapper>