<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysUserMapper">
    <sql id="columns">
        id, username userName, `password` , `name` , phone ,
               avatar , description , `status` , create_time , update_time , is_deleted
    </sql>
    <!--    根据账号查询SysUser-->
    <select id="selectByUserName" resultType="com.atguigu.spzx.model.entity.system.SysUser">

        SELECT
        <include refid="columns"></include>
        FROM sys_user
        WHERE username = #{userName}
    </select>

    <select id="findByPage" resultType="com.atguigu.spzx.model.entity.system.SysUser">
        select <include refid="columns"></include>
        from sys_user
        <where>
            <if test="keyword!=null and keyword!=''">
                and username like CONCAT('%',#{keyword},'%')
            </if>
            <if test="createTimeBegin!=null">
                and create_time>=#{createTimeBegin}
            </if>
            <if test="createTimeEnd!=null">
                and #{createTimeEnd}>create_time
            </if>
        </where>
    </select>



    <insert id="saveSysUser">
        insert into  sys_user(    id, username, `password` , `name` , phone ,avatar , description , `status` , create_time , update_time , is_deleted)
values (
           #{id}, #{userName}, MD5(#{password}) , #{name} , #{phone} , #{avatar} , #{description} , #{status} , NOW() , NOW() , 0
       )

    </insert>
    <update id="updateSysUser">
        update sys_user set
        <if test="userName!=null">
            username=#{userName},
        </if>
        <if test="password!=null">
            password=MD5(#{password}),
        </if>
        <if test="name!=null">
            name=#{name},
        </if>
        <if test="phone!=null">
            phone=#{phone},
        </if>
        <if test="avatar!=null">
            avatar=#{avatar},
        </if>
        <if test="description!=null">
            description=#{description},
        </if>
        <if test="status!=null">
            status=#{status},
        </if>
        update_time=NOW()
    where id=#{id}
    </update>
    <delete id="deleteSysUser">
        delete from sys_user where id = #{id}
    </delete>
</mapper>